/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
}

.music-player{
    width:360px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);
    border-radius:20px;
    padding:25px;
    text-align:center;
    color:#fff;
    box-shadow:0 10px 30px rgba(0,0,0,.35);
}

.music-player h2{
    margin-bottom:20px;
    font-size:28px;
}

.cover img{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:20px;
    border:4px solid #fff;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.song-info{
    margin:20px 0;
}

.song-info h3{
    font-size:22px;
    margin-bottom:5px;
}

.song-info p{
    color:#ddd;
    font-size:15px;
}

.progress-container{
    display:flex;
    align-items:center;
    gap:10px;
    margin:20px 0;
}

.progress-container span{
    width:45px;
    font-size:13px;
}

#progress{
    flex:1;
    cursor:pointer;
    accent-color:#00e5ff;
}

.controls{
    display:flex;
    justify-content:center;
    gap:20px;
    margin:20px 0;
}

.controls button{
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    background:#00c6ff;
    color:#fff;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}

.controls button:hover{
    transform:scale(1.12);
    background:#0099cc;
}

#play{
    width:70px;
    height:70px;
    font-size:26px;
    background:#00e676;
}

#play:hover{
    background:#00c853;
}

.volume{
    display:flex;
    align-items:center;
    gap:10px;
    margin:25px 0;
}

.volume i{
    font-size:20px;
}

#volume{
    width:100%;
    cursor:pointer;
    accent-color:#00e676;
}

.playlist{
    margin-top:20px;
    text-align:left;
}

.playlist h3{
    text-align:center;
    margin-bottom:12px;
}

.playlist ul{
    list-style:none;
}

.playlist li{
    padding:12px;
    margin-bottom:8px;
    background:rgba(255,255,255,.15);
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.playlist li:hover{
    background:#00c6ff;
}

.playlist li.active{
    background:#00e676;
    color:#000;
    font-weight:bold;
}

@media(max-width:400px){

.music-player{
    width:95%;
    padding:20px;
}

.cover img{
    width:180px;
    height:180px;
}

.controls button{
    width:55px;
    height:55px;
}

#play{
    width:65px;
    height:65px;
}

}
